.chatWidget{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    font-size: var(--font-xxs);

    &__outter{
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        width: clamp(240px, 240px + 2vw, 600px);
        aspect-ratio: 3 / 5;
        box-shadow: 0 0 4px var(--color-tercero);
        border-radius: .6em;
    }

    &__btn{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--color-main);
        font-weight: bold;
        color: var(--color-segundo);
        font-size: var(--font-md);
    }

    &__chatContainer{
        position: absolute;
        bottom: 0;
        right: 0;
        width: clamp(240px, 240px + 2vw, 600px);
        aspect-ratio: 3 / 5;
        max-height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        background: darkgray;
        padding: .4em;
        padding-top: 0;
        padding-bottom: 3.6rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: .2em;
        color: var(--color-tercero);
        word-break: break-all;

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    &__send{
        background: var(--color-segundo);
        position: absolute;
        bottom: 0;
        width: calc(100% - .4em);
        border-radius: .4em;
        box-shadow: 0 -4px 0 var(--color-main);
        z-index: 1;
        color: var(--color-tercero);

        &__input{
            padding:.4em;
            line-height: 2;
            width: calc(100% - 2ch);
            color: var(--color-tercero);
        }

        &__arrow{
            position: absolute;
            right: 1ch;
            bottom: 0;
            transform: translateY(-50%);
        }
    }

    &__chat{
        display: flex;
        flex-direction: column;
        gap: .4em;
        color: var(--color-tercero);
        padding-top: .4em;

        &__msg{
            background: var(--color-segundo);
            border-radius: .4em;
            padding: .4em .2em;
            
            &__name{
                font-weight: bold;
                word-break: keep-all;
            }

            img{
                aspect-ratio: 1;
                width: 34px;
                min-width: 34px;
                max-width: 34px;
                height: 34px;
                min-height: 34px;
                max-height: 34px;
                border-radius: 50%;
                object-fit: cover;
                padding: .2em;
                margin-right: .2em;
                font-size: 8px;
                background: var(--color-gray);
                vertical-align: middle;
            }

            &__adm{
                @extend .chatWidget__chat__msg;
                color: darkorange;
            }
        }
    }

    &__header{
        font-weight: bold;
        font-size: var(--font-md);
        padding-bottom: .2em;
        padding-top: .4em;
        border-bottom: 3px dashed var(--color-main);
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background: darkgray;

        span{
            line-height:2;
        }
    }

    &__close{
        text-align: center;
        font-size: var(--font-md);
        font-weight: bold;
        width: 40px;
        height: 40px;
        color: var(--color-main);
        text-shadow: 1px 1px 0 var(--color-tercero);
    }
}