.producto {
  -webkit-animation: opacityStart 1.2s ease-in;
          animation: opacityStart 1.2s ease-in;
  width: 100%;
  max-width: 340px;
  color: var(--color-tercero);
  position: relative;
  overflow: hidden;
  background: var(--color-gray-dark);
  border-radius: 1.8em;
}
.producto__innerContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 100%;
  border-radius: 1.8em 1.8em 0 0;
  -webkit-animation: opacityStart 0.6s ease-in;
          animation: opacityStart 0.6s ease-in;
}
.producto__innerTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 7/11;
  border-radius: 1.4em 1.4em 0 0;
  overflow: hidden;
}
.producto__innerText {
  width: 100%;
  aspect-ratio: 7/11;
  padding: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.4em;
  align-items: center;
  background-color: rgba(var(--color-segundo-rgb), 0.8);
  outline: 1px solid var(--color-segundo);
  border: 1px solid var(--color-segundo);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-animation: opacityStart 0.3s ease-in-out;
          animation: opacityStart 0.3s ease-in-out;
  white-space: pre-line;
  font-size: var(--font-p);
  overflow-y: auto;
  line-height: 1.4;
}
.producto__innerText h4 {
  text-shadow: 0 0 8px var(--color-main);
}
.producto__innerText::-webkit-scrollbar {
  width: 4px;
}
.producto__imgContainer {
  width: 100%;
  min-width: 220px;
  border-radius: 1.8em 1.8em 0 0;
  aspect-ratio: 7/11;
  background: var(--color-segundo);
  overflow: hidden;
  position: relative;
}
.producto__imgContainer img {
  aspect-ratio: 7/11;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.8em 1.8em 0 0;
  background: var(--color-gray);
}
.producto__imgContainer:hover .producto__expand, .producto__imgContainer:focus-visible .producto__expand {
  visibility: visible;
}
.producto__name {
  font-size: var(--font-md);
  word-break: keep-all;
  line-height: 1.4;
  padding: 0 0.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
  width: 100%;
  color: var(--color-main);
  font-weight: bold;
  margin: 0.2em 0;
}
.producto__priceInfo {
  font-size: var(--font-sm);
  line-height: 1.4;
  padding: 0 0.1em;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.producto__imgModal {
  margin: auto;
  width: clamp(300px, 300px + 10vw, 600px);
  aspect-ratio: 7/11;
  border: none;
  border-radius: 2em;
  overflow: hidden;
  background: var(--color-segundo);
  box-shadow: 0 0 4px 0 var(--color-segundo);
  border: 2px solid var(--color-segundo);
}
.producto__imgModal button {
  color: var(--color-segundo);
  text-shadow: 2px 2px 0 var(--color-tercero);
  font-size: var(--font-fluid-lg);
  font-weight: bold;
  position: absolute;
  top: 1%;
  right: 4%;
}
.producto__imgModal button:hover, .producto__imgModal button:focus-visible {
  color: var(--color-tercero);
  text-shadow: 2px 2px 0 var(--color-segundo);
}
.producto__imgModal::-webkit-backdrop {
  background: rgba(20, 20, 20, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.producto__imgModal::backdrop {
  background: rgba(20, 20, 20, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.producto__imgModal img {
  aspect-ratio: 7/11;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  background: var(--color-gray);
}
.producto__expand {
  position: absolute;
  bottom: 4%;
  right: 4%;
  color: var(--color-segundo);
  filter: drop-shadow(1px 1px 0 var(--color-tercero));
  cursor: pointer;
  pointer-events: none;
  visibility: hidden;
}
.producto__expand:hover, .producto__expand:focus-visible {
  visibility: visible;
}
.producto__dots {
  cursor: pointer;
  border-radius: 50%;
  padding: 0.1em;
  color: var(--color-tercero);
  display: flex;
  align-items: center;
}
.producto__dots.active {
  color: var(--color-primero);
}
.producto__controlsContainer {
  font-size: var(--font-fluid-xl);
  display: flex;
  justify-content: center;
  gap: 20%;
  width: 100%;
  font-weight: bold;
  color: var(--color-primero);
  line-height: 1;
}
.producto.waiting button {
  cursor: wait;
  pointer-events: none;
}/*# sourceMappingURL=Producto.css.map */